*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 144, 161);
    color: rgb(43, 41, 41);
    border-radius: 20px;
}
.product:hover{
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.57);
    transition: .5s;
    cursor: pointer;
}
input:focus{
    outline: none;
    background-color: rgb(46, 40, 40);
    color: #fff;
}

.add_form{
    width: 70%;
    height: 500px;
    background-color: rgb(128, 144, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px auto;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.57);
    border-radius: 20px;
}

input{
    width: 350px;
    height: 30px;
    margin-bottom: 20px;
}
input:hover{
    border: 1px solid rgb(49, 49, 49);
    transition: .5s;
}
button{
    width: 80px;
    height: 35px;
    border: none;
    background-color: rgb(201, 201, 201);
    color: rgb(43, 41, 41);

}
button:hover{
    transition: 0.5s;
    cursor: pointer;
    border-radius: 20px;
}

